<div id="header-container" >
    <div id="header" >
        <img id="header-thumbnail" class="thumbnail" src="" />
        <div id="header-text" >Full Name</div>
        <div id="header-btn" class="btn btn-twitter" ><span class="btn-icon icon-twitter"></span>SHARE</div>
    </div>
</div>