<title>Lectal</title>

<!-- Basic -->
<meta name="description" content="Lectal is a daily robotics news digest curated by people who love robots." >
<meta name="keywords" content="robot, robotics, robots,  robotics, robobusiness, robodevelopment, mobile robots, roomba, asimo, mars rover, artificial intelligence, humanoid, UAV, bot, bots, unmanned aerial vehicles, animatronics, drone, drones, 3d printers, 3d printing">

<!-- Open Graph -->
<meta property="og:title" content="Lectal">
<meta property="og:type" content="website">
<meta property="og:author" content="Lectal">
<meta property="og:url" content="http://www.lectal.com">
<meta property="og:summary" content="Robootics news digest">
<meta property="og:description" content="Lectal is a daily robotics news digest curated by people who love robots.">
<meta property="og:image" content=""> <!-- TODO: Fill this in from below images -->

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/styles/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/styles/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/styles/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/styles/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/styles/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/styles/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/styles/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/styles/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/styles/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/styles/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/styles/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/styles/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/styles/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/styles/images/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#F4EADE">
<meta name="msapplication-TileImage" content="/styles/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#F4EADE">