<div id="sidebar" >
	<!-- Top -->
	<div id="sidebar-top" >
		<a class="btn btn-post" href="/draft" id="sidebar-btn" ><span class="btn-symbol icon-pencil" ></span></a>
		<a class="sidebar-link" href="/frontpage"><span class="icon-globe"></span></a>
		<a class="sidebar-link" href="/newsfeed"><span class="icon-time"></span></a>
		<a class="sidebar-link" href="/profile"><span class="icon-face"></span></a>
		<a class="sidebar-link" href="/notifications"><span class="icon-bolt"></span></a>
	</div>

	<!-- Bottom -->
	<div id="sidebar-bottom" >
		<a class="sidebar-link" href="/about" ><span class="icon-info" ></span></a>
	</div>
</div>