<!doctype html>
<html lang="en" ng-app="app">
<head>
    <title>Lectal</title>

</head>


<body style="min-height: 550px;">


<!-- Close Button -->
<a class="btn btn-half btn-salmon" id="authbox-cancel-btn" href="/logout" id="sidebar-btn">
    <span class="btn-symbol icon-x-mark"></span>
</a>


<!-- Form -->
<form id="setup" class="form authbox" ng-controller="SetupController" method="post" name="form" action="/setup"
      enctype="multipart/form-data">

    <!-- Profile Pic -->
    <div class="form-selection form-selection-edit">
        <span class="form-selection-corner-square"><span class="icon-pencil"></span></span>
        <img ng-src="{{credentials.picture}}" ng-show="credentials.picture"/>
        <input class="form-selection-btn" type="file" ng-file-select="uploadProfilePicture($files)" ng-hide="imageUploadInProcess"/>
        <div class="form-selection-loader" ng-show="imageUploadInProcess" ><span class="icon-refresh form-selection-loader-icon"></span></div>
    </div>

    <!-- Inputs -->
    <div class="form-group">
        <div class="form-input-container">
            <input type="hidden" name="originalImgUrlPlaceholder" id="originalImgUrlPlaceholder">

            <div class="form-input-label">Email</div>
            <input type="text" ng-model="credentials.email" placeholder="yourname@example.com" class="with-label"
                   name="email"></input>
        </div>
        <div class="form-input-container">
            <div class="form-input-label">Password</div>
            <input type="password" ng-model="credentials.password" placeholder="Password" class="with-label"
                   name="password"></input>
        </div>
        <div class="form-input-container">
            <div class="form-input-label">Full name</div>
            <input type="text" ng-model="credentials.fullname" placeholder="Full name" class="with-label"
                   name="fullname"></input>
        </div>
        <div class="form-input-container">
            <div class="form-input-label">Username</div>
            <input type="text" ng-model="credentials.username" placeholder="Username" class="with-label"
                   name="username"></input>
        </div>
        <input type="hidden" name="picture" ng-model="credentials.email" ></input>
    </div>
    <!-- Errors -->
    <div class="form-errors" ng-show="errorMessages.length">
        <div class="form-error-message" ng-repeat="errorMessage in errorMessages">{{errorMessage}}</div>
    </div>

    <!-- Submit -->
    <div type="submit" ng-click="setup()" class="btn btn-wide btn-submit" id="btn-setup"></div>
</form>

</body>
</html>