<!doctype html>
<html lang="en" ng-app="app">
<head>

    <% include includes/meta.ejs %>
    <% include includes/analytics.ejs %>
    <% include includes/dependencies.ejs %>
    <% include includes/constants.ejs %>

</head>
<body>

    <div ui-view></div>

</body>

</html>