<!doctype html>
<html lang="en" ng-app="app">
<head>

    <% include includes/meta.ejs %>
    <% include includes/analytics.ejs %>
    <% include includes/dependencies.ejs %>
    
    <script>

        <% include includes/constants.ejs %>

        app.constant('POSTS', {
            initial: data.posts,
            remaining: data.remainingPosts
        });

        app.constant('SUBJECT', {
            kind: data.kind,
            _id: data._id,
            name: data.name,
            handle: data.handle,
            picture: data.picture,
            counts: data.counts,
            isFollowing: data.isFollowing
        });


    </script>

</head>
<body>

<% include includes/sidebar.ejs %>
<% include includes/logo.ejs %>

<div id="frame">

    <searchbox></searchbox>

    <header></header>

    <div id="table">
        <div ng-controller="FeedController">
            <post ng-repeat="post in posts" post="post"></post>
        </div>
    </div>

</div>

</body>

</html>